extends layout

block content
  h1= title
  p Welcome to #{title}
    div
      table(class="table table-hover table-dark")
        tr
          th Name
          th Genre
          th Owner
        tr 
          td wise man's fear
          td Fantasy 
          td Joe
  button add book 